body {
	background-color: #E0FFFF;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}
body>div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}body>div>div{
	display: flex;
	/*justify-content: space-around;*/
	/*flex-direction: column;*/
	align-items: center;
	
/*h1, h2 {
	margin: auto;
}
.flex {
	display: flex;
	justify-content: space-around;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/*#bill {
	width: 30%;
	background-color: grey;
}